@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
.btn-primary{
    padding: 15px 30px;
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    font-size: 16px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 5px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.search-parent{
    position: relative;
}
.search-parent input{
    padding: 15px 50px;
    width: 500px;
    font-size: 16px;
    font-weight: 500;
    background: rgb(241, 241, 241);
    border-radius: 50px;
    border:none;
    outline: none;
}
.search-parent i{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #BABABA;
}
.nav-items{
    display: flex;
}
.nav-items li{
    list-style: none;
    margin-right: 25px;

}
.nav-items li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
}
/* banner start */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FEEAE9;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.banner-title{
    font-weight: 700;
    font-size: 56px;
    color: #1F1F1F;
    margin-bottom: 10px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #4E4E4E;
    max-width: 456px;
    margin-bottom: 10px;
}
.price-title{
    font-weight: 500;
    font-size: 41px;
    color: #FF136F;
    display: block;
    margin-bottom: 10px;
}
.banner img{
    width: 402px;
height: 378px;
}
.categories-section-container{
    margin-top: 70px;
    margin-bottom: 70px;
}
.category-title{
    font-weight: 600;
    font-size: 36px;
    color:#1F1F1F;
    margin-bottom: 24px;
}
.category-card-container{
    display: flex;
    gap: 30px;
    width: 100%;
}
.category-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 30px 50px;
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    border-radius: 15px;
    flex: 1;
}
.category-card:nth-child(2){
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.category-card:nth-child(3){
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
.category-card-title{
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
}
.shoes-section-wapper{
    background: rgb(244, 244, 244);
    margin-top: 50px;
    padding-bottom: 100px;
}
.shoes-section-container{
    padding: 50px 0px;
}
.shoes-card-container{
    width: 100%;
    display: flex;
    gap:25px;
    margin-top: 25px;
    
}
.shoes-card{
    flex: 1;
    padding: 25px 12px;
    border-radius: 20px;
    background: #FFFFFF;
}

.section-title-des{
    display: flex;
    justify-content: space-between;
}
.section-title-des h2{
    font-size: 36px;
    font-weight: 600;
    color:#1F1F1F;
}
.section-title-des{
    color: #FF9D00;
    font-size: 20px;
    font-weight: 500;
}
.shoes-card img{
    max-width: 340px;

}
.shoes-title{
    font-weight: 600;
    font-size: 24px;
    color: #1F1F1F;
    margin-bottom: 20px;
    /* max-width: 300px; */
    text-align: center;
}
.shoes-description{
    font-weight: 400;
    color: #4E4E4E;
    text-align: center;
    
}
.price-and-btn{
    text-align: center;
}
.price-and-btn .price-title{
    color: black;

}
.price-and-btn .btn-primary{
    background: black;
}
.backpack-and-See-all-btn{
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}
.backpack-and-See-all-btn h3{
    font-size: 36px;
    font-weight: 600;
    color:#1F1F1F;
}
.backpack-and-See-all-btn p{
    font-size: 20px;
    font-weight: 500;
    color: #FF9D00;
}
.backpack-card-container{
    display: flex;
    gap: 24px;
    width: 100%;

}
.backpack-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.backpack-card{
    padding: 25px 35px;
    background: #FFFFFF;
    border-radius: 20px;
    flex: 1;
}
.backpack-img-container img{
    max-width: 300px;

}
.backpack-text{
    text-align: center;
}
.backpack-title{
    font-weight: 600;
    font-size: 24px;
    color: #1F1F1F;
    margin-bottom: 20px;
}
.backpack-description{
    max-width: 300;
    font-weight: 400;
    font-size: 16px;
    color: #4E4E4E;
    margin-bottom: 20px;
}
.backpack-text .price-title{
    color: black;
}
.backpack-text .btn-primary{
    background: black;
}